body,
html {
	background: #fcfcfc;
	height: 100%;
}

.page {
	display: none;
	background: #F2F2F2;
	position: relative;
}

.page.on {
	display: block;
}

.page .rbtn {
	color: #3a9fed;
	font-size: 16px;
}

.default-page {
	background: #fcfcfc;
	text-align: center;
}

.default-page .txt {
	font-size: 22px;
	line-height: 100px;
	padding-bottom: 30px;
	color: #fff;
}

.default-page .sharenode {
	text-decoration: underline;
	color: #999;
	font-size: 12px;
	line-height: 70px;
}

.box03 ul {
	width: 80%;
	margin: 0 auto;
}

.box03 li {
	border: 1px solid #3a9fed;
	line-height: 42px;
	text-align: center;
	border-radius: 22px;
	margin-bottom: 10px;
}

.box03 li input {
	font-size: 14px;
	text-align: center;
}

.botbtnbox {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
	background: url('special/app/img/line_top_cecece.png') top repeat-x #fff;
	background-size: 1px 1px;
}

.botbtn {
	margin-left: 10%;
	width: 80%;
	background-color: #3a9fed;
	line-height: 44px;
	border-radius: 22px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
}

.downloadtips {
	display: none;
	position: fixed;
	left: 0;
	width: 100%;
	bottom: 90px;
	text-align: center;
}

.downloadtips::before {
	content: ' ';
	display: inline-block;
	width: 10px;
	height: 10px;
	position: absolute;
	right: 50%;
	bottom: -15px;
	margin-left: -5px;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	-webkit-transform: rotate(135deg);
}

.downloadtips {
	animation: 1.5s opacity2 0s infinite;
	-webkit-animation: 1.5s opacity2 0s infinite;
	-moz-animation: 1.5s opacity2 0s infinite;
}

@keyframes opacity2 {
	0% {
		opacity: 0.2;
		bottom: 80px;
	}

	50% {
		opacity: 1;
		bottom: 90px;
	}

	100% {
		opacity: 0.2;
		bottom: 80px;
	}
}

@-webkit-keyframes opacity2 {
	0% {
		opacity: 0.2;
		bottom: 80px;
	}

	50% {
		opacity: 1;
		bottom: 90px;
	}

	100% {
		opacity: 0.2;
		bottom: 80px;
	}
}

@-moz-keyframes opacity2 {
	0% {
		opacity: 0.2;
		bottom: 80px;
	}

	50% {
		opacity: 1;
		bottom: 90px;
	}

	100% {
		opacity: 0.2;
		bottom: 80px;
	}
}

.main {
	margin-top: -100px;
}

.choicebox {
	display: none;
}

.choicebox .bg {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	left: 0;
	top: 0;
}

.choicebox .box {
	width: 270px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -100px 0 0 -135px;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
}

.choicebox .box .con {
	width: 100%;
	color: #fff;
	background: -webkit-linear-gradient(130deg, #3a9fed, #4eaed0);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(130deg, #3a9fed, #4eaed0);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(130deg, #3a9fed, #4eaed0);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(130deg, #3a9fed, #4eaed0);
	/* 标准的语法（必须放在最后） */
}

.choicebox .box .con .tit {
	padding: 15px;
	text-align: center;
	font-size: 20px;
}

.choicebox .box .con .txt {
	padding: 25px 15px 25px 15px;
	font-size: 16px;
	line-height: 30px;
}

.choicebox .box .btnbox {
	position: relative;
}

.choicebox .box .btnbox::after {
	content: "";
	display: block;
	width: 1px;
	height: 50px;
	position: absolute;
	left: 50%;
	margin-left: -1px;
	top: 0;
	background-color: #3a9fed;
	opacity: 0.8;
}

.choicebox .box .btnbox .btn {
	width: 50%;
	float: left;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	color: #3a9fed;
}


/* 引入mui icon 及样式 */
@font-face {
	font-family: Muiicons;
	font-weight: 400;
	font-style: normal;
	src: url(../../fonts/mui.ttf) format('truetype')
}

.mui-icon {
	font-family: Muiicons;
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
	line-height: 1;
	display: inline-block;
	text-decoration: none;
	-webkit-font-smoothing: antialiased
}

.mui-icon.mui-active {
	color: #007aff
}

.mui-icon.mui-right:before {
	float: right;
	padding-left: .2em
}

.mui-icon-back:before,
.mui-icon-left-nav:before {
	content: '\e471'
}


.mui-bar {
	height: 44px;
	border-bottom: 0;
	background-color: #f7f7f7;
}

.mui-bar .mui-icon {
	padding-top: 10px;
	padding-bottom: 10px;
}

.mui-pull-left {
	float: left;
}

a {
	padding-left: 10px;
	color: #007aff;
}

.mui-title {
	font-size: 17px;
	font-weight: 500;
	line-height: 44px;
	width: 100%;
	margin: 0 -10px;
	text-align: center;
}


.main {
	margin-top: 20px;
}

.default-page .txt {
	font-size: 1.5rem;
	line-height: 100px;
	padding-bottom: 30px;
	color: #7d7d7d;
}
