@charset "UTF-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,table{margin:0;padding:0;border:none;}
body{font:normal 12px 'Microsoft Yahei',Helvetica,arial,sans-serif;color:#333;background:#fff;-webkit-text-size-adjust:none;-webkit-user-select:none;/* 禁止选中文本（如无文本选中需求，此为必选项） */ user-select:none;-webkit-text-size-adjust:none;/*禁止浏览器字体大小调整*/}
li{list-style:none;}
em,i,dfn,address{font-style:normal;}
h1,h2,h3,h4,h5,h6,b{font-weight:normal;font-size:12px;}
i,em{font-style:normal;}
input,textarea,select{outline:none;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
input{border:none 0;text-indent:5px;}
input::-ms-clear{display:none;}
input:focus,a:focus,summary:focus,select:focus,textarea:focus,button:focus{outline:none;}
input:-webkit-autofill{background-color:transparent;}
textarea{resize:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;-webkit-transition:all .5s ease;color:#333;}
img{vertical-align:middle;-webkit-touch-callout:none;/* 禁止长按链接与图片弹出菜单 */}
a img{border:0;}
.clear:after{display:block;content:'';clear:both;}
.clear{zoom:1;}
.fl{display:inline;float:left;}
.fr{display:inline;float:right;}

/*分享组件*/
#sharebar{ z-index:9999 ;}
#sharebar .bg{display: none; position: fixed;z-index:9999 ; left: 0; bottom: 0; width:100% ; height: 100%; background: rgba(0,0,0,0.5);}
#sharebar .box{ position: fixed;z-index:9999 ; left: 0; bottom: -170px; padding: 20px 0 0 0; width:100% ; background-color:#fff ; text-align:center; -webkit-transition: bottom 0.5s; transition: bottom 0.5s;}
#sharebar .box ul{ display: table; width:100% ;}
#sharebar .box ul li{ display: table-cell; height:40px ; line-height: 40px; color: #464646;}
#sharebar .box ul li img{ width:40px ;}
#sharebar .box .closebtn{ display:inline-block ; font-size: 16px; width:100% ; border-top: 5px solid #f5f5f5; line-height: 40px; margin-top: 10px;  color: #464646; }

#sharebar.on .box{bottom: 0;} 
#sharebar.on .bg{ display: block;}

/*提示框01*/
.tipinfo{ position:fixed; left:50%; width:190px; height:50px; line-height:50px; margin-left:-95px; bottom:150px; text-align:center; color:#fff; background:rgba(0,0,0,0.8); border-radius:5px; -webkit-border-radius:5px; font-size:15px; z-index:99999; opacity:1;}

/*数据为空公共样式*/
.pub-empty-tips{text-align: center;  color: #eee; margin-top: 35%; }
.pub-empty-tips .img img{ width: 140px;}
.pub-empty-tips .node{ color: #999;}
.pub-empty-tips .btn{ margin-top: 15%; font-size: 14px;display: inline-block; line-height: 26px; height: 26px; border-radius: 14px; width: 105px; text-align: center; border:1px solid #44d9c5;color: #44d9c5; }

/* vue 过度样式 */
.expand-transition { transition: all .1s ease;}
.expand-enter, .expand-leave { opacity: 0; }